/* global style */

body{
    overflow-x: hidden;
    height:100%;
    width: 100%;
}

.Home{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to top,
        $color-black 6%,
        $color-quaternary 12%,
        $color-tertiary 26%,
        $color-secondary 44%,
        $color-primary 58%,
        $color-black 67%
    );
    background-blend-mode: lighten;
    
}

.Mars{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to right,
        $color-primary 0%,
        $color-black 100%
    );
     background-blend-mode: lighten;
}

.Mars .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to bottom,
        $color-primary 0%,
        $color-black 100%
    );
     background-blend-mode: lighten;

    
}

.Lune{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to right,
        $color-secondary 0%,
        $color-black 100%
    );
    background-blend-mode: lighten;
    
}

.Lune .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to bottom,
        $color-secondary 0%,
        $color-black 100%
    );
     background-blend-mode: lighten;
    
}

.Orbite{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to right,
        $color-tertiary 0%,
        $color-black 100%
    );
    background-blend-mode: lighten;
    
}

.Orbite .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to bottom,
        $color-tertiary 0%,
        $color-black 100%
    );
    background-blend-mode: lighten;
    
}

.Immersion{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to right,
        $color-quaternary 0%,
        $color-black 100%
    );
     background-blend-mode: lighten;
    
}

.Immersion .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: url("../assets/image_webp/texture_etoile.webp"),
    linear-gradient(
        to bottom,
        $color-quaternary 0%,
        $color-black 100%
    );
     background-blend-mode: lighten;
    
}

header{
   width: 100vw;
    height: auto;
}

.header_home{
    width: 100vw;
    height: auto;
    margin-bottom: 125px;

        @include responsive(tablet) {
            margin-bottom: 160px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 240px;
        
}
}

.presentation{
    display: flex;
    gap: 225px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 125px;
    margin-left: 60px;
    margin-right: 60px;

        @include responsive(tablet) {
            margin-bottom: 160px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 240px;
        
}

}
.Mars__presentation,
.Lune__presentation,
.Orbite__presentation,
.Immersion__presentation {
        margin-bottom: 125px;
        display: grid;
        place-items: center;

        @include responsive(tablet) {
            margin-bottom: 160px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 240px;
        
}

}

.section_description_voyage {
    margin-bottom: 50px ;

            @include responsive(tablet) {
            margin-bottom: 64px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 96px;
        
}
}

.Programme,
.section_tableaux{
        margin-bottom: 75px ;

            @include responsive(tablet) {
            margin-bottom: 96px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 144px;
        
}
}

.etoiles{
  width: 100%;
  height: 100%;
  background-image: url("assets/image_webp/texture_etoile.webp");
  background-blend-mode: lighten;
  background-repeat: repeat-y;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;

}

.section-activites{
    display: flex;
    flex-direction: row;
    gap: 225px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 125px;
    margin-left: 60px;
    margin-right: 60px;
}

.cursor{
    background-image: url("assets/image_webp/navette.cur");
    position: absolute;
    width: 64px;
    height: 64px;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
}

.cursor-img{
    cursor: pointer
}