/* global style */

body{
    overflow-x: hidden;
}

.Home{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: $color-texte;
    background: linear-gradient(
        to top,
        $color-black 6%,
        $color-quaternary 12%,
        $color-tertiary 26%,
        $color-secondary 44%,
        $color-primary 58%,
        $color-black 67%
    );
    
}

.Mars{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: linear-gradient(
        to right,
        $color-primary 0%,
        $color-black 100%
    );
}

.Mars .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: linear-gradient(
        to bottom,
        $color-primary 0%,
        $color-black 100%
    );

 
    
}

.Lune{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: linear-gradient(
        to right,
        $color-secondary 0%,
        $color-black 100%
    );
    
}

.Lune .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: linear-gradient(
        to bottom,
        $color-secondary 0%,
        $color-black 100%
    );
    
}

.Orbite{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: linear-gradient(
        to right,
        $color-tertiary 0%,
        $color-black 100%
    );
    
}

.Orbite .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: linear-gradient(
        to bottom,
        $color-tertiary 0%,
        $color-black 100%
    );
    
}

.Immersion{
    margin: 0;
    padding: 0;
    height: 60vh;
    color: $color-texte;
    background: linear-gradient(
        to right,
        $color-quaternary 0%,
        $color-black 100%
    );
    
}

.Immersion .header{
    margin: 0;
    padding: 0;
    color: $color-texte;
    background: linear-gradient(
        to bottom,
        $color-quaternary 0%,
        $color-black 100%
    );
    
}

header{
   width: 100vw;
    height: auto;
}

.header_home{
    width: 100vw;
    height: auto;
    margin-bottom: 125px;

        @include responsive(tablet) {
            margin-bottom: 160px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 240px;
        
}
}

.presentation,
.Mars__presentation,
.Lune__presentation,
.Orbite__presentation,
.Immersion__presentation {
        margin-bottom: 125px;
        display: grid;
        place-items: center;

        @include responsive(tablet) {
            margin-bottom: 160px;
        
    }

    @include responsive(desktop) {
        margin-bottom: 240px;
        
}

}

