/* global style */

//mettre en place un style de base pour le site
// reset de la margin et padding de tout les elements

/* 
main {
    display: grid;
    margin: 0;
}

header, 
footer {}

header{} */

.Home{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: $color-texte;
    background: linear-gradient(
        to top,
        $color-black 6%,
        $color-quaternary 12%,
        $color-tertiary 26%,
        $color-secondary 44%,
        $color-primary 58%,
        $color-black 67%
    );
    
}

/* footer {}

section {}

select, input, button,{} */
