// grid 

.grid {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: grid;
}

/* grid Home */

.Home .grid{
    display: grid;
    grid-template-columns:1fr 30px 1fr;
    padding-left: 30px;
    padding-right: 30px;

    > *{
        grid-column: 1 / -1; // utiliation de l'ia
    }



@include responsive(tablet) {

        padding-left: 60px;
        padding-right: 60px;


}

@include responsive(desktop) {
        grid-template-columns: 
        500px 80px
        340px 60px
        340px
        ;
        padding-left: 60px;
        padding-right: 60px;

        > *{
                grid-column: auto; // utiliation de l'ia
            }

.col-1-4{
        grid-column: 1 / 4;
}

.col-3-6{
        grid-column: 3 / 6;
}

.col-1-2{
        grid-column: 1 / 2;
}
}
}

.Mars .grid,
.Lune .grid,
.Orbite .grid,
.Immersion .grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;


@include responsive(tablet) {
        grid-template-columns: 1fr;
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        233px 60px
        233px 60px
        233px 237px
        102px 60px
        102px
        ;
        padding-left: 60px;
        padding-right: 60px;

.col-1-6{
        grid-column: 1 / 6;
}

.col-1-8{
        grid-column: 1 / 8;
}

.col-1-4{
        grid-column: 1 / 4;
        
}

.col-5-10{
        grid-column: 5 / 10;
}
}}