
// transition page
.transition-slide {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black,;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transform: translateX(0%);
}

//anim entree
@keyframes slideOut{
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

//anim sortie
@keyframes slideIn{
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
   50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

//class utiliser dans java
body.pageAnim .transition-slide {
  animation: slideOut 1s forwards;
}

body.loaded .transition-slide {
  animation: slideIn 1s ease-out forwards;
}


//anim mega titre
// faire flotter
@keyframes titleFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
// fairre Briller
@keyframes titleGlow {
  0%, 100% {
    text-shadow: 0 0 8px #FFF, 0 0 10px #FFF;
  }
  50% {
    text-shadow: 0 0 12px #fff, 0 0 20px #FFF;
  }
}

// faire apparaitre 
@keyframes titleAppear {
  from {
    opacity: 0;
    transform: scale(0) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
//parametre des anim mega titre
.anim-titre{
   animation:
    titleAppear 4s ease-out forwards, //vite, doucement/ garde dernier etat
    titleGlow 4s infinite ease-in-out,// lent par tout/ en boucle
    titleFloat 6s infinite ease-in-out;// lent par tout / en boucle

 
}

//anim titre voyage
.anim-titre-voyage{
  animation:
    titleAppear 2s ease-out forwards, //vite, doucement/ garde dernier etat
    

}

.titre-voyage{
  opacity: 0;
  
}

@keyframes titlezoom {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1); /* Zoom léger */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Retour à la taille normale */
  }
}


//anim titre description
.anim-titre-description{
  animation:
    titlezoom 1s ease-out forwards, //vite, doucement/ garde dernier etat
    

}


//anim planets1
@keyframes animPlanet1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.act1,
.act2,
.act3,
.act4,
.act5,
.act6 {
  display: none;
}

.activity{
    animation:titleAppear 1s ease-out forwards
}