
.tableau {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid $color-texte;
    text-align: center;

    .titre_tableaux {
        padding-right: 0;
        padding-left: 0;
        border-right: 1px solid $color-texte;
        vertical-align: top;

        &:last-child {
            border-right: none;
        }
    }
}

.cursor{
    cursor: url("../assets/image_webp/navette.webp"), auto;
}

.map {
    position: relative;
    width: 100%;
    
}

.button_M {
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        background-color: $color-primary;
        position: absolute;
    }

.button_L {
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        background-color: $color-secondary;
        position: absolute;
    }

.button_O {
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        background-color: $color-tertiary;
        position: absolute;
    }

.button_I {
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        background-color: $color-quaternary;
        position: absolute;
    }

.btn_acti1{
    transform: translate3d(34vw, 2vw, 0);
}

.btn_acti2{
    transform: translate3d(-2vw, 13vw, 0);
}
.btn_acti3{
    transform: translate3d(70vw, 13vw, 0);
}

.btn_acti4{
    transform: translate3d(34vw, 24vw, 0);
}