
.tableau {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid $color-texte;
    text-align: center;

    .titre_tableaux {
        padding-right: 0;
        padding-left: 0;
        border-right: 1px solid $color-texte;
        vertical-align: top;

        &:last-child {
            border-right: none;
        }
    }
}

.cursor{
    cursor: url("../assets/image_webp/navette.webp"), auto;
}

.map {
    position: relative;
    width: 80vw;
  height: auto;
    
}

.button_M {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        background-color: $color-primary;
        position: absolute;
    }

.button_M:hover,
.button_L:hover,
.button_O:hover,
.button_I:hover{
    background-color: $color-texte;
}

.button_L {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        background-color: $color-secondary;
        position: absolute;
    }

.button_O {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        background-color: $color-tertiary;
        position: absolute;
    }

.button_I {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        background-color: $color-quaternary;
        position: absolute;
    }

.btn_acti1{
    transform: translate3d(29vw, 1vw, 0);
}

.btn_acti2{
    transform: translate3d(-3vw, 11vw, 0);
}
.btn_acti3{
    transform: translate3d(60vw, 12vw, 0);
}

.btn_acti4{
    transform: translate3d(29vw, 20vw, 0);
}
.btn_acti5{
    transform: translate3d(12vw, 11vw, 0);
}
.btn_acti6{
    transform: translate3d(46vw, 11vw, 0);
}