//image styles//

.logo{
    width: 5vw;
    height: auto;
    border-radius: 100%;
}

.header__image{
    width: 40vw;
    height: auto;
    position: relative;
    left: 50%;
    top: -70%;

    
    @include responsive(desktop) {
        width: 50vw;
        top: -20%;
        left: 0;
    }
}


.image_casque{
    width: 25vw;
    height: auto;
    display: none;

    @include responsive(tablet) {
        display: none;
    }

    @include responsive(desktop) {
        display: block;
}
}

.image_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 10px;
    border-style: solid;

    @include responsive(tablet) {
        border-width: 15px;
    }

    @include responsive(desktop) {
        border-width: 20px;
}
}

.header__image_mars{
    width: 140%;
    position: absolute;
    top: 10%;
    rotate: 120deg;
    z-index: 0;
}

.header__image_lune{
    width: 140%;
    position: absolute;
    top: 7%;
    rotate: -20deg;
    z-index: 0;
}

.header__image_orbite{
    width: 140%;
    position: absolute;
    top: 10%;
    rotate: -20deg;
    z-index: 0;
}

.header__image_immersion{
    width: 70%;
    position: absolute;
    top: 15%;
    rotate: 160deg;
    z-index: 0;
}


.header__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.image_activite{
    width: 35vw;
    height: auto;
}

.image_mars,
.image_lune{
    width: 40vw;
}