//image styles//

.logo{
    width: 5vw;
    height: auto;
    border-radius: 100%;
}

.header__image{
    width: 30vw;
    height: auto;
}

.image_casque{
    width: 25vw;
    height: auto;
}

.image_mars_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 20px;
    border-style: solid;
}

.image_lune_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 20px;
    border-style: solid;
}

.image_orbite_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 20px;
    border-style: solid;
}

.image_immersion_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 20px;
    border-style: solid;
}