//image styles//

.logo{
    width: 5vw;
    height: auto;
    border-radius: 100%;
}

.header__image{
    grid-column: 3/4 !important;
    grid-row: 1;
    width: 110%;
    height: auto;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, $color-black 70%, transparent 100%);

    @include responsive(tablet) {
        width: 120%;
    }

    
    @include responsive(desktop) {
        grid-column: 5/6 !important;
        grid-row: 1;
        width: 130%;
    }
}


.image_casque{
    width: 25vw;
    height: auto;
    display: none;
    align-self: center;

    @include responsive(tablet) {
        display: none;
    }

    @include responsive(desktop) {
        display: block;
}
}

.shema{
    width: 100%;
    margin-bottom: 75px;
    

     @include responsive(tablet) {
        margin-bottom: 96px;
        
    }

    @include responsive(desktop) {
        grid-column: 1 / 8 !important;
        margin-bottom: 144px;
        
        
}

}

.image_home{
    width: 25vw;
    height: auto;
    border-radius: 100%;
    border-color: $color-secondary;
    border-width: 10px;
    border-style: solid;
    display: block;
    margin: 0 auto;

    @include responsive(tablet) {
        border-width: 15px;
        display: block;
        margin: 0 auto;
        
    }

    @include responsive(desktop) {
        border-width: 20px;
        margin: 0;
        grid-column: 1 / 2 !important;
        
}
}

.header__image_mars{
    width: 140%;
    position: absolute;
    top: 10%;
    rotate: 120deg;
    z-index: 0;
}

.header__image_lune{
    width: 140%;
    position: absolute;
    top: 7%;
    rotate: -20deg;
    z-index: 0;
}

.header__image_orbite{
    width: 140%;
    position: absolute;
    top: 10%;
    rotate: -20deg;
    z-index: 0;
}

.header__image_immersion{
    width: 60%;
    position: absolute;
    top: 10%;
    rotate: 160deg;
    z-index: 0;

    @include responsive(tablet) {
        width: 60%;
        top: 10%;
        
    }

    @include responsive(desktop) {
        width: 70%;
        top: 15%;
   
}}


 .header__container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    position: relative;
    overflow: hidden;

    @include responsive(tablet) {
        height: 50vh;
        
    }

    @include responsive(desktop) {
        height: 90vh;
}
}

.image_activite{
    width: 40%;
    height: auto;
    border-radius: 20%;
}

.image_mars,
.image_lune{
    width: 40vw;
}