 /* typographies */

//mettre quelle police pour quel classe


.texte,
.texte_nav{ @include font-size-responsive(16px, 20px, 30px); }

.sous-titre{ @include font-size-responsive(19px, 24px, 43px); }

.titre{ @include font-size-responsive(23px, 29px, 62px); }

.grand-titre{ @include font-size-responsive(33px, 41px, 129px); }

.mega-titre{ @include font-size-responsive(33px, 50px, 155px); }

.sous-titre, .grand-titre{
      font-family: $font-secondary;
      line-height: 1.2;
      color: $color-texte;
      font-weight: 700;
      margin: 0;
      z-index: 1;
}

.sous-titre{
      margin-top: 25px;
      margin-bottom: 25px;
      
      @include responsive(tablet) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    
        @include responsive(desktop) {
            margin-top: 48px;
            margin-bottom: 48px;
    }
}

.titre{
      font-family: $font-secondary;
      line-height: 1.2;
      color: $color-texte;
      font-weight: 700;
      text-align: center;
      z-index: 1;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;
      
      @include responsive(tablet) {
            display: block;
            margin: 0 auto;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    
        @include responsive(desktop) {
            margin: 0;
            text-align: left;
            margin-top: 48px;
            margin-bottom: 48px;
    }
}
.grand-titre{
      margin: 10%;
}

.texte{
      font-family: $font-primary;
      line-height: 1.2;
      color: $color-texte;
      font-weight: 700; 
      margin-bottom: 25px;
      margin-top: 0;

        @include responsive(tablet) {
            margin-bottom: 32px;
        }
    
        @include responsive(desktop) {
            margin-bottom: 48px;
    }
}

.mega-titre{
   color: $color-texte;
   font-family: "good-times-bad-times", sans-serif;
   font-weight: 900;
   grid-column: 1 / 2 !important;
   margin-top: 50px;
   margin-bottom: 50px;


   @include responsive(tablet) {
      grid-column: 1 / 2 !important;
      margin-top: 64px;
      margin-bottom: 64px;
}
     

  @include responsive(desktop) {
      grid-column: 1 / 4 !important;
      margin-top: 96px;
      margin-bottom: 96px;
      
}
}