 /* typographies */

//mettre quelle police pour quel classe


.texte{ @include font-size-responsive(16px, 20px, 30px); }

.sous-titre{ @include font-size-responsive(19px, 24px, 43px); }

.titre{ @include font-size-responsive(23px, 29px, 62px); }

.grand-titre{ @include font-size-responsive(33px, 41px, 129px); }

.mega-titre{ @include font-size-responsive(33px, 60px, 155px); }

.titre, .sous-titre, .grand-titre{
      font-family: $font-secondary;
      line-height: 1.2;
      color: $color-texte;
      font-weight: 700;
      margin: 0;
      z-index: 1;
}
.grand-titre{
      margin: 10%;
}

.texte{
      font-family: $font-primary;
      line-height: 1.2;
      color: $color-texte;
      font-weight: 700;
}

.mega-titre{
   color: $color-texte;
   font-family: "good-times-bad-times", sans-serif;
   font-weight: 900;

}