/* fonts */
$font-primary: 'Marine', sans-serif;
$font-secondary: 'Good Times', sans-serif;

/* couleurs */ 
$color-texte: #fff;
$color-black: #000;

$color-texte: #fff;
$color-primary: #9F4F2D;
$color-secondary: #A1A1A1; 
$color-tertiary: #2D4582;
$color-quaternary: #932B2D;